body{
background:#0f0f12;
color:white;
font-family:Arial;
}

.hero{
height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:url("https://images.unsplash.com/photo-1511671782779-c97d3d27a1d4") center/cover;
}

.event-card{
background:#1c1c1f;
color:white;
transition:0.4s;
border:none;
}

.event-card:hover{
transform:scale(1.05);
box-shadow:0 10px 20px rgba(0,0,0,0.5);
}

.nav-link:hover{
color:#f5c542 !important;
}
.ticket-card{
background:white;
color:black;
padding:30px;
border-radius:10px;
width:350px;
margin:auto;
box-shadow:0 10px 20px rgba(0,0,0,0.5);
}
.screen{
background:#ddd;
width:50%;
margin:20px auto;
padding:10px;
color:black;
font-weight:bold;
border-radius:5px;
}

.seat-grid{
display:grid;
grid-template-columns:repeat(8,50px);
gap:10px;
justify-content:center;
}

.seat{
background:#444;
color:white;
padding:10px;
cursor:pointer;
border-radius:6px;
}

.seat:hover{
background:#777;
}

.selected{
background:#f5c542;
color:black;
}